{% include "ahead.html" %}
<style>
body {
  background-image: url("https://www.investopedia.com/thmb/SQUkVNIzt4DzPFWDLHeKczaglj8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/_PropertyManagement_SasinParaksa-24d8dedc3d094a32b6d1f97f19bb2263.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:90%;
}
</style>
<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-12">
            <form action="add_category1" method="Post" class="container mt-5 card card-body col-md-6">
                <div>
                    <b><label for="category_name">Category Name</label></b>
                    <input type="text" id="category_name" name="category_name" class="form-control">
                </div>
                <br>
                <div>
                    <input type="submit" id="ADD" value="ADD" class="form-control btn btn-primary">
                </div>
            </form>
        </div>
    </div>