{% include "ahead.html" %}
<style>
body {
  background-image: url("https://www.investopedia.com/thmb/SQUkVNIzt4DzPFWDLHeKczaglj8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/_PropertyManagement_SasinParaksa-24d8dedc3d094a32b6d1f97f19bb2263.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:90%;
}
</style>
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <form action="add_category1" method="Post" class="container mt-5 card card-body col-md-6">
                <div>
                    <b><label for="category_name">Category Name</label></b>
                    <input type="text" id="category_name" name="category_name" class="form-control">
                </div>
                <br>
                <div>
                    <input type="submit" id="ADD" value="ADD" class="form-control btn btn-primary">
                </div>
            </form>
        </div>
            <div class="col-md-6 mt-5">
                <div class="card p-3">
                    <table class="table table-bordered text-center border-dark">
                        <thead>
                            <tr>
                                <th style="color:#008080;">Category Name</th>
                            </tr>
                        </thead>
                        {% for category in categories: %}
                        <tr>
                            <td>{{category['category_name']}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
    </div>
</div>
