{% if session["role"] == 'owner':%}
    {% include 'ohead.html' %}
{% elif session["role"] == 'user':%}
    {% include 'uhead.html' %}
{% endif %}
<style>
body {
  background-image: url("https://www.investopedia.com/thmb/SQUkVNIzt4DzPFWDLHeKczaglj8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/_PropertyManagement_SasinParaksa-24d8dedc3d094a32b6d1f97f19bb2263.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:90%;
}
</style>
<div class="container mt-3">
    <div class="row mt-3">
    {% for property in properties: %}
    {% set category = get_category_id(property['category_id'])%}
    {% set owner = get_owner(property['owner_id'])%}
        <div class="col-md-6">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <td><img src="../static/myfiles/{{property['property_image']}}" style="width:200px;"></td>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Owner Name</label></div></h6>
                        <div>{{owner['owner_name']}}</div>
                        <h6><div class="text-muted mt-3" style="font-size:14;"><label>Owner Phone</label></div></h6>
                        <div>{{owner['owner_phone']}}</div>
                        <h6><div class="text-muted mt-3" style="font-size:14;"><label>Location</label></div></h6>
                        <div>{{property['location']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted mt-3" style="font-size:14;"><label>Category</label></div></h6>
                        <div>{{category['category_name']}}</div>
                    </div>
                     <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Property Title</label></div></h6>
                        <div>{{property['property_title']}}</div>
                     </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Property Title</label></div></h6>
                        <div>{{property['property_title']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Description</label></div></h6>
                        <div>{{property['description']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Features</label></div></h6>
                        <div>{{property['features']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Amount</label></div></h6>
                        <div>{{property['amount']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Posted Date</label></div></h6>
                        <div>{{property['posted_date']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <h6><div class="text-muted" style="font-size:14;"><label>Status</label></div></h6>
                        <b><div style="color:#008080;font-size:15px">{{property['status']}}</div></b>
                    </div>
                    {% if session["role"] == 'user' and property['post_type'] == 'sale' %}
                            {% set is_requested = is_requested_for_sale(property['_id']) %}
                            {% if is_requested %}
                            <form action="sale_request" method="post">
                                <div class="mt-3">
                                    <input type="hidden" name="property_id"  value="{{property['_id']}}">
                                    <input type="submit" value="Send Sale Request" class="form-control btn btn-primary">
                                </div>
                            </form>
                            {% else %}
                            <form action="view_sale_request">
                                <div class="mt-3">
                                    <input type="hidden" name="property_id"  value="{{property['_id']}}">
                                    <input type="submit" value="View Sale Request" class="form-control btn btn-primary">
                                </div>
                            </form>
                            {% endif %}

                    {% endif %}
                    {% if session["role"] == 'owner' and property['post_type'] == 'sale' %}
                        <form action="view_sale_request">
                            <div class="mt-3">
                                <input type="hidden" name="property_id"  value="{{property['_id']}}">
                                <input type="submit" value="View Sale Request" class="form-control btn btn-primary">
                            </div>
                        </form>
                    {% endif %}

                    {% if property['post_type']=='rental' %}
                        {% set rental = get_rental_by_property_id(property['_id'])  %}
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-6 mt-2">
                            <h6><div class="text-muted" style="font-size:14;"><label>Cartpet Area</label></div></h6>
                             <div>{{rental['carpet_area']}}</div>
                        </div>
                        <div class="col-md-6 mt-2">
                             <h6><div class="text-muted" style="font-size:14;"><label>Rooms</label></div></h6>
                             <div>{{rental['rooms']}}</div>
                        </div>
                        <div class="col-md-6 mt-2">
                             <h6><div class="text-muted" style="font-size:14;"><label>Advance</label></div></h6>
                            <div>{{rental['advance']}}</div>
                        </div>
                        <div class="col-md-6 mt-2">
                             <h6><div class="text-muted" style="font-size:14;"><label>Rent</label></div></h6>
                            <div>{{rental['rent']}}</div>
                        </div>
                    {% endif %}
                     {% if session["role"] == 'owner' and property['status'] == 'Property Posted' and property['post_type'] == 'rental' %}
                        <form action="make_as_rented">
                            <div class="mt-3">
                                <input type="hidden" name="property_id"  value="{{property['_id']}}">
                                <input type="submit" value="Make as Rented" class="form-control btn btn-primary">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>